<!-- ====== About Section Start -->
<section id="about" class="bg-gray-1 pb-8 pt-20 dark:bg-dark-2 lg:pb-[70px] lg:pt-[120px]">
  <div class="container">
    <div class="wow fadeInUp flex justify-center" data-wow-delay=".2s">
      <div class="w-full px-4 lg:w-1/2">
        <div class="mb-12 max-w-[540px] text-center lg:mb-0">
          <h2
            class="mb-5 text-3xl font-bold leading-tight text-dark dark:text-white sm:text-[40px] sm:leading-[1.2]"
          >
            Showtime Volleyball Camp
          </h2>
          <p class="mb-10 text-base leading-relaxed text-dark dark:text-white">
            Join the excitement at Showtime Volleyball Camp, where players of all skill levels can
            improve their game. Our camp offers student-athlete coaching and a supportive
            environment that fosters skill development and teamwork. Whether you're a beginner or an
            advanced athlete, you'll find the training and competition you need to elevate your
            game.
            <br />
            <br />
             Experience the thrill of competitive play and the joy of making new friends at Showtime
            Volleyball Camp. Our dedicated coaches and energetic atmosphere ensure a fun and
            memorable experience for all participants. Enhance your volleyball skills with
            personalized instruction and engaging activities.
            <br />
            <br />
             Get ready to spike, serve, and set your way to new heights. Reserve your spot at
            Showtime Volleyball Camp today and be part of an unforgettable volleyball journey.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
