<section class="pt-20 lg:pt-[80px] bg-gray-1 dark:bg-dark-2">
  
  <div class="container">
    <div class="-mx-4 flex flex-wrap">
      <div class="w-full px-4">
        <div class="mb-2 mx-auto max-w-[485px] lg:mb-[70px] text-center">
        <div style="text-align: center; padding-top: 24px; padding-bottom: 24px;">
                    <h2
            class="mb-3 text-3xl font-bold text-dark dark:text-white sm:text-4xl md:text-[40px] md:leading-[1.2]"
          >
            Reserve Your Spot
          </h2>  

<!-- Ticket Tailor Widget. Paste this into your website where you want the widget to appear. Do not change the code or the widget may not work properly. -->
<div class="tt-widget">
  <div class="tt-widget-fallback">
    <p>
      <a href="https://www.tickettailor.com/all-tickets/showtimecamps/rtne/1/" target="_blank">Click here to buy tickets</a>
      <br />
<small>
  <a href="https://www.tickettailor.com?rf=wdg_189297" class="tt-widget-powered">Sell tickets online with Ticket Tailor</a>
  </small>
</p>
</div>
<script src="https://cdn.tickettailor.com/js/widgets/min/widget.js" data-url="https://www.tickettailor.com/all-tickets/showtimecamps/rtne/1/" data-type="inline" data-inline-minimal="true" data-inline-show-logo="false" data-inline-bg-fill="true" data-inline-inherit-ref-from-url-param="" data-inline-ref=""></script>
</div><!-- End of Ticket Tailor Widget -->
</div></section>

